html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  font-weight: normal;
}

ul li,
ol li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

label {
  display: block;
}

button {
  appearance: none;
  border: none;
  outline: 0;
  font: inherit;
  background-color: transparent;
  padding: 0;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.section {
  padding: 139px 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

.title::after {
  content: '';
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  position: absolute;
  bottom: 7px;
  left: 0;
}

.btn {
  color: #fff;
  background-color: #2352de;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
}

.header {
  height: 100vh;
  background-size: cover;
  background-color: rgba(35, 82, 222, 0.5);
  background-blend-mode: overlay;
  color: #ffffff;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear;
}

.logo:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.header__inner {
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 530px;
  font-weight: 700;
  font-size: 90px;
  transform: translateY(-23px);
}

.header__title span {
  font-size: 48px;
  font-weight: 400;
}

.arrow__text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../images/header_arrow.svg');
  background-repeat: no-repeat;
  background-position: top 30px center;
  padding-bottom: 33px;
}

.menu__header {
  display: flex;
}

.menu__header-item:not(:last-child) {
  margin-right: 30px;
}

.item,
.arrow__text {
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline 1px transparent;
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear,
    text-decoration-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 0;
}

.item:hover,
.arrow__text:hover {
  text-decoration-color: #fff;
}

.item:focus,
.arrow__text:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #fff;
}

.item:active,
.arrow__text:active {
  opacity: 0.7;
}

.about__text p {
  font-size: 18px;
  line-height: 1.6;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: #f6f6f8;
}

.skills__img {
  max-width: 415px;
  height: 450px;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__info-item {
  max-width: 665px;
  width: 100%;
}

.skills__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 86px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__text {
  flex-grow: 1;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}

.skills__meter {
  max-width: 600px;
  width: 100%;
}

.skills__meter::-webkit-meter-bar {
  background-color: #dbdbed;
  height: 32px;
  border-radius: 0;
  border: 0;
}

.skills__meter::-webkit-meter-optimum-value {
  background-color: #2352de;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service__list-items {
  display: flex;
  justify-content: space-between;
}

.service__item {
  max-width: 330px;
  padding-top: 92px;
  background-image: url('../images/teg.svg');
  background-repeat: no-repeat;
}

.service__item--cms {
  background-image: url('../images/cms.svg');
}
.service__item--chat {
  background-image: url('../images/chat.svg');
}

.service__item-title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 27px;
}

.service__item-text p {
  line-height: 1.6;
}

.portfolio {
  padding-top: 0;
  text-align: center;
}

.portfolio__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__menu-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  text-decoration: underline 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.4s, box-shadow 0.3s, text-decoration-color 0.4s;
}

.portfolio__menu-item:not(:last-child) {
  margin-right: 45px;
}

.portfolio__menu-btn:hover {
  color: #2352de;
  text-decoration: underline;
}

.portfolio__menu-btn:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.portfolio__menu-btn:active,
.portfolio__menu-btn.mixitup-control-active {
  color: #2352de;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 60px;
}

.works__link {
  display: block;
}

.works__link:focus {
  box-shadow: 0 0 0 3px #2352de;
  outline: 0;
}

.works__img {
  max-width: 360px;
  height: 360px;
}

.btn {
  cursor: pointer;
  transition: color 0.3s background-color 0.5s, box-shadow 0.2s;
}

.btn:hover {
  color: #2352de;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 1px #2352de;
}

.btn:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.btn:active {
  color: #fff;
  background-color: #2352de;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.recall {
  text-align: center;
  background-color: #f6f6f8;
}

.recall__inner {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recall__client {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recall__client-photo {
  border-radius: 100%;
  margin-bottom: 22px;
}

.recall__client-title {
  font-weight: 600;
  font-size: 24px;
  color: #2352de;
  margin-bottom: 20px;
}

.recall__client-descr {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.recall__video {
  min-width: 570px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.arrow-play {
  width: 86px;
  height: 100px;
  background-image: url('../images/play.svg');
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -43px;
}

.statistic__inner {
  display: flex;
  justify-content: space-between;
}

.statistic__item {
  padding-top: 150px;
  background-color: #f6f6f8;
  width: 280px;
  background-image: url(../images/works.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: top 50px center;
  padding-bottom: 50px;
}

.statistic__title {
  font-size: 18px;
  margin-bottom: 20px;
}

.statistic__item-text p {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

.statistic__item-clients {
  background-image: url('../images/clients.svg');
}

.statistic__item-coffee {
  background-image: url('../images/coffee.svg');
}

.statistic__item-review {
  background-image: url('../images/review.svg');
}

.contact {
  padding-top: 0;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  gap: 99px;
}

.contact__inner-left {
  max-width: 530px;
  display: flex;
  flex-direction: column;
}

.contact-text {
  line-height: 1.6;
  margin-bottom: 30px;
}

.contact__inner-left a {
  color: #2352de;
}

.phone {
  width: max-content;
  margin-bottom: 15px;
  transition: text-decoration 0.4s;
}

.email {
  width: max-content;
  transition: text-decoration 0.8s;
}

.phone:hover,
.email:hover {
  text-decoration: underline;
}

.phone:focus,
.email:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.phone:active,
.email:active {
  text-decoration: none;
  color: rgba(35, 82, 222, 0.7);
}

.email {
  margin-bottom: 21px;
}

.social-ico {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url('../images/instagram.svg');
  background-repeat: no-repeat;
}

.social-ico-fb {
  background-image: url('../images/facebook.svg');
}

.social-ico-telegram {
  background-image: url('../images/telegram.svg');
}

.social-ico:not(:last-child) {
  margin-right: 20px;
}

.contact__social a:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.contact__social a:active {
  box-shadow: none;
}

.form {
  max-width: 540px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.form label {
  margin-bottom: 10px;
}

.form label {
  font-weight: 600;
  font-size: 14px;
}

.form-top input,
.form-text textarea {
  width: 255px;
  border: none;
  display: block;
  background-color: #f6f6f8;
  padding: 13px 15px;
}

.form-top input::placeholder,
.form-text textarea::placeholder {
  font-size: 14px;
  color: #9c9cab;
}

.form-top input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.form-text textarea {
  width: 100%;
  min-height: 115px;
  resize: none;
  margin-bottom: 30px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 153px;
  background-color: #343740;
}
