html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  font-weight: normal;
}

ul li,
ol li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.section {
  padding: 139px 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 59px;
  position: relative;
  display: inline-block;
}

.title::after {
  content: '';
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  position: absolute;
  bottom: 7px;
  left: 0;
}

.header {
  height: 100vh;
  background-image: url('../images/bg_image.jpg');
  background-size: cover;
  background-color: rgba(35, 82, 222, 0.5);
  background-blend-mode: overlay;
  color: #ffffff;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear;
}

.logo:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.header__inner {
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 530px;
  font-weight: 700;
  font-size: 90px;
  line-height: 130px;
}

.header__title span {
  font-size: 48px;
  font-weight: 400;
}

.arrow__text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../images/header_arrow.svg');
  background-repeat: no-repeat;
  background-position: top 30px center;
  padding-bottom: 33px;
}

.menu__header {
  display: flex;
}

.menu__header-item:not(:last-child) {
  margin-right: 30px;
}

.item,
.arrow__text {
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline 1px transparent;
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear,
    text-decoration-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item:hover,
.arrow__text:hover {
  text-decoration-color: #fff;
}

.item:focus,
.arrow__text:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #fff;
}

.item:active,
.arrow__text:active {
  opacity: 0.7;
}

.about__text p {
  font-size: 18px;
  line-height: 1.6;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: #f6f6f8;
}

.skills__img {
  max-width: 415px;
  height: 450px;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__info-item {
  max-width: 665px;
  width: 100%;
}

.skills__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 86px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__text {
  flex-grow: 1;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}

.skills__meter {
  max-width: 600px;
  width: 100%;
}

.skills__meter::-webkit-meter-bar {
  background-color: #dbdbed;
  height: 32px;
  border-radius: 0;
  border: 0;
}

.skills__meter::-webkit-meter-optimum-value {
  background-color: #2352de;
}

.service__list-items {
  display: flex;
  justify-content: space-between;
}

.service__item {
  max-width: 330px;
  padding-top: 92px;
  background-image: url('../images/teg.svg');
  background-repeat: no-repeat;
}

.service__item--cms {
  background-image: url('../images/cms.svg');
}
.service__item--chat {
  background-image: url('../images/chat.svg');
}

.service__item-title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 27px;
}

.service__item-text p {
  line-height: 1.6;
}

.works {
  padding-bottom: 140px;
}

.title__center {
  text-align: center;
  width: 100%;
}

.title__center::after {
  content: '';
  width: 283px;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.works__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
}

.works__btn {
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  cursor: pointer;
  margin-right: 34px;
  transition: color 0.4s ease, box-shadow 0.3s ease-in-out, opacity 0.2s linear,
    text-decoration-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.works__btn:last-child {
  margin-right: 0;
}

.works__btn:hover {
  color: #2352de;
  text-decoration: underline;
}

.works__btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.works__btn:active {
  color: #2352de;
}

.works__portfolio {
  column-count: 3;
  gap: 45px;
  margin-bottom: 13px;
}

.works__item {
  margin-bottom: 45px;
}

.works__btn {
  text-align: center;
}

.works__btn button {
  padding: 12px 24px;
  background-color: #2352de;
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
}

.works__btn button:hover {
  color: #2352de;
  background-color: #fff;
  border: 1px solid #2352de;
}

.works__btn button:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.mixitup-control-active {
  color: #2352de;
}
