html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote {
  margin: 0;
  font-weight: normal;
}

ul li,
ol li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
  outline: 0;
  border: 0;
  appearance: none;
}

button {
  background-color: transparent;
  padding: 0;
}
label {
  display: block;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.section {
  padding: 139px 0;
}

.title {
  font-weight: 700;
  font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1920 -320)));
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

.title::after {
  content: '';
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  position: absolute;
  bottom: 7px;
  left: 0;
}

.btn {
  color: #fff;
  background-color: #2352de;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
}

.header {
  height: 100vh;
  background-size: cover;
  background-color: rgba(35, 82, 222, 0.5);
  background-blend-mode: overlay;
  color: #ffffff;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear;
}

.logo:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.header__inner {
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 530px;
  font-weight: 700;
  font-size: 90px;
  font-size: calc(40px + (90 - 40) * ((100vw - 375px) / (1920 -320)));
  transform: translateY(-23px);
}

.header__title span {
  font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1920 -320)));
  font-weight: 400;
}

.arrow__text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../images/header_arrow.svg');
  background-repeat: no-repeat;
  background-position: top 30px center;
  padding-bottom: 33px;
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - 2px);
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  transform: rotate(45deg);
  top: 50%;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  transform: rotate(-45deg);
  top: 50%;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.menu__header {
  display: flex;
}

.menu__header-item:not(:last-child) {
  margin-right: 30px;
}

.item,
.arrow__text {
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline 1px transparent;
  transition: box-shadow 0.3s ease-in-out, opacity 0.2s linear,
    text-decoration-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 0;
}

.item:hover,
.arrow__text:hover {
  text-decoration-color: #fff;
}

.item:focus,
.arrow__text:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #fff;
}

.item:active,
.arrow__text:active {
  opacity: 0.7;
}

.about__text p {
  font-size: 18px;
  line-height: 1.6;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills,
.recall {
  background-color: #f6f6f8;
}

.skills__img {
  width: 100%;
}

.skills__inner {
  display: grid;
  grid-template-columns: minmax(200px, 415px) minmax(250px, 665px);
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.skills__info-item {
  width: 100%;
}

.skills__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 86px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__text {
  flex-grow: 1;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  min-width: 60px;
}

.skills__meter {
  max-width: 600px;
  width: 100%;
}

.skills__meter::-webkit-meter-bar {
  background-color: #dbdbed;
  height: 32px;
  border-radius: 0;
  border: 0;
}

.skills__meter::-webkit-meter-optimum-value {
  background-color: #2352de;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service__list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.service__item {
  max-width: 330px;
  padding-top: 92px;
  background-image: url('../images/teg.svg');
  background-repeat: no-repeat;
  flex: 1 0 180px;
}

.service__item--cms {
  background-image: url('../images/cms.svg');
}
.service__item--chat {
  background-image: url('../images/chat.svg');
}

.service__item-title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 27px;
}

.service__item-text p {
  line-height: 1.6;
}

.portfolio {
  padding-top: 0;
  text-align: center;
}

.portfolio__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__menu-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  text-decoration: underline 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.4s, box-shadow 0.3s, text-decoration-color 0.4s;
}

.portfolio__menu-item:not(:last-child) {
  margin-right: 45px;
}

.portfolio__menu-btn:hover {
  color: #2352de;
  text-decoration: underline;
}

.portfolio__menu-btn:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.portfolio__menu-btn:active,
.portfolio__menu-btn.mixitup-control-active {
  color: #2352de;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 60px;
}

.works__link {
  display: block;
}

.works__link:focus {
  box-shadow: 0 0 0 3px #2352de;
  outline: 0;
}

.works__img {
  max-width: 360px;
  height: 360px;
}

.btn {
  cursor: pointer;
  transition: color 0.3s background-color 0.5s, box-shadow 0.2s;
}

.btn:hover {
  color: #2352de;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 1px #2352de;
}

.btn:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.btn:active {
  color: #fff;
  background-color: #2352de;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.recall {
  text-align: center;
}

.recall__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.quote {
  max-width: 400px;
  padding: 0 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 22px;
}
.quote-name {
  font-weight: 600;
  font-size: 24px;
  color: #2352de;
  margin-bottom: 20px;
}
.quote__text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.recall__video {
  display: block;
  position: relative;
  max-width: 570px;
  width: 100%;
  height: 400px;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.3);
  outline: 0;
  transition: box-shadow 0.3s ease-in-out;
}

.recall__video::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 100px;
  background-image: url('../images/play.svg');
  transition: transform 0.3s;
}

.recall__video:hover {
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.6);
}

.recall__video:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
}

.recall__video:focus {
  box-shadow: inset 0 0 0 500px rgba(35, 82, 222, 0.5);
}

.recall__video:active {
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.45);
}

.recall__video:active::before {
  transform: translate(-50%, -50%) scale(0.6);
}

.statistic__inner {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.statistic__item {
  padding: 150px 10px 50px;
  background-color: #f6f6f8;
  border: 1px solid #dbdbed;
  width: 280px;
  width: 100%;
  background-image: url(../images/works.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: top 50px center;
}

.statistic__title {
  font-size: 18px;
  margin-bottom: 20px;
}
.statistic__num {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

.statistic__item--clients {
  background-image: url('../images/clients.svg');
}

.statistic__item--coffee {
  background-image: url('../images/coffee.svg');
}

.statistic__item--review {
  background-image: url('../images/review.svg');
}

.contact {
  padding-top: 0;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  gap: 99px;
}

.contact__inner-left {
  max-width: 530px;
  display: flex;
  flex-direction: column;
}

.contact__text {
  line-height: 1.6;
  margin-bottom: 30px;
}

.contact__list {
  margin-bottom: 21px;
}

.contact__item:not(:last-child) {
  margin-bottom: 15px;
}

.contact__link {
  color: #2352de;
  text-decoration: underline 1px solid transparent;
  transition: opacity 0.5s, box-shadow 0.3s ease-in-out,
    text-decoration-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact__link,
.social__link {
  outline: 0;
  border-radius: 3px;
}

.contact__link:hover {
  text-decoration-color: #2352de;
}

.contact__link:focus,
.social__link:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.contact__link:active,
.contact__link:active {
  text-decoration: none;
  color: rgba(35, 82, 222, 0.7);
}

.social {
  display: flex;
  gap: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  transition: filter 0.3d, opacity 0.2s, box-shadow 0.3s ease-in-out;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:active {
  filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.15));
}

.form {
  max-width: 540px;
  width: 100%;
}

.form__row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
}

.form-group--textarea {
  margin-bottom: 23px;
}

.form__label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.form__field {
  font-size: 14px;
  width: 100%;
  background-color: #f6f6f8;
  padding: 13px 15px;
  transition: box-shadow 0.3s;
}

.form__field::placeholder {
  transition: color 0.3s;
}

.form__field--text {
  min-height: 115px;
  resize: vertical;
}

.form-top input::placeholder,
.form-text textarea::placeholder {
  font-size: 14px;
  color: #9c9cab;
}

.form__field:hover::placeholder {
  color: #000000;
}

.form__field:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #343740;
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }

  .header__nav {
    position: relative;
    transition: background-color 0.3s;
  }

  .header__nav.active {
    background-color: #7792e0;
  }

  .header__nav.active .menu__header {
    transform: translateX(0);
    opacity: 1;
  }

  .header__top {
    padding: 15px 0;
  }

  .menu__header {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #7792e0;
    transform: translateX(200%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.4s;
  }

  .menu__header-item:not(:last-child) {
    margin-right: 0;
  }

  .item {
    display: block;
    padding: 11px;
  }

  .item:active {
    background-color: blue;
  }
}

@media (max-width: 1200px) {
  .section {
    padding: 10vw 0;
  }

  .title {
    margin-bottom: 5vw;
  }

  .works {
    display: block;
    column-count: 2;
    column-gap: 15px;
    text-align: -webkit-center;
    margin-bottom: 15px;
  }

  .works__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .recall__inner {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }

  .portfolio__title,
  .recall__title {
    left: 0;
    transform: translateX(0);
  }

  .portfolio__menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .portfolio__menu-item:not(:last-child) {
    margin-right: 0;
  }

  .portfolio__menu-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .portfolio__menu-btn {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 50px 0;
  }

  .logo {
    width: 110px;
  }

  .title::after {
    height: 10px;
    bottom: 3px;
  }

  .arrow__text {
    font-size: 14px;
    bottom: 16px;
  }

  .header__inner {
    height: calc(100vh - 48px);
  }

  .about__text p {
    font-size: 16px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 20px;
  }

  .skills__inner {
    grid-template-columns: unset;
    padding: 0 22.5px;
    justify-content: center;
  }

  .skills__item {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .skills__meter {
    height: 32px;
  }

  .skills__text {
    min-width: unset;
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .service__item {
    max-width: 500px;
    padding-top: 50px;
    background-size: 40px;
  }

  .service__item-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .portfolio {
    padding-top: 16px;
  }

  .quote {
    padding: 0;
  }

  .quote__img {
    margin-bottom: 31px;
  }

  .quote-name {
    font-size: 20px;
  }

  .quote__text {
    font-size: 16px;
  }

  .recall__inner {
    gap: 0;
    position: relative;
  }

  .recall__video {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 87px;
    margin-top: 90px;
  }

  .recall__video::before {
    width: 17px;
    height: 20px;
    background-size: cover;
    transform: translate(-31%, -50%);
  }
}
